sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 45em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 60em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 60em;
}
.stl_06 {
	height: 4.5em;
}
.ie .stl_06 {
	height: 45em;
}
@font-face {
	font-family:"CFOIGV+å¾®è½¯é�»";
	src:url("67bf9067-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 3.67em;
	font-family: "CFOIGV+å¾®è½¯é�»";
	color: #FFFFFF;
}
.stl_08 {
	line-height: 1.319824em;
}
.stl_09 {
	letter-spacing: -0.0007em;
}

.ie .stl_09 {
	letter-spacing: -0.0409px;
}
@font-face {
	font-family:"ECEOWB+å¾®è½¯é�»";
	src:url("bdb78418-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 3.67em;
	font-family: "ECEOWB+å¾®è½¯é�»", "Times New Roman";
	color: #FFFFFF;
}
.stl_11 {
	font-size: 3.672em;
	font-family: "ECEOWB+å¾®è½¯é�»", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	font-size: 3.672em;
	font-family: "CFOIGV+å¾®è½¯é�»";
	color: #FFFFFF;
}
.stl_13 {
	font-size: 3em;
	font-family: "ECEOWB+å¾®è½¯é�»", "Times New Roman";
	color: #FFFFFF;
}
.stl_14 {
	letter-spacing: 0.0001em;
}

.ie .stl_14 {
	letter-spacing: 0.0072px;
}
.stl_15 {
	font-size: 2.67em;
	font-family: "CFOIGV+å¾®è½¯é�»";
	color: #008000;
}
.stl_16 {
	letter-spacing: 0.0008em;
}

.ie .stl_16 {
	letter-spacing: 0.0362px;
}
.stl_17 {
	font-size: 1.58em;
	font-family: "ECEOWB+å¾®è½¯é�»", "Times New Roman";
	color: #000000;
}
.stl_18 {
	letter-spacing: 0em;
}

.ie .stl_18 {
	letter-spacing: 0px;
}
.stl_19 {
	font-size: 1.58em;
	font-family: "CFOIGV+å¾®è½¯é�»";
	color: #000000;
}
.stl_20 {
	font-size: 2.67em;
	font-family: "ECEOWB+å¾®è½¯é�»", "Times New Roman";
	color: #008000;
}
.stl_21 {
	letter-spacing: 0.0007em;
}

.ie .stl_21 {
	letter-spacing: 0.032px;
}
@font-face {
	font-family:"QHREOT+å®ä½";
	src:url("93036446-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 2.08em;
	font-family: "QHREOT+å®ä½", "Times New Roman";
	color: #000000;
}
.stl_23 {
	line-height: 1em;
}
.stl_24 {
	font-size: 2.082em;
	font-family: "QHREOT+å®ä½", "Times New Roman";
	color: #000000;
}
.stl_25 {
	letter-spacing: -0.001em;
}

.ie .stl_25 {
	letter-spacing: -0.032px;
}
.stl_26 {
	letter-spacing: -0.0002em;
}

.ie .stl_26 {
	letter-spacing: -0.0075px;
}
@font-face {
	font-family:"JHFJKF+Calibri";
	src:url("338361cc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 2.08em;
	font-family: "JHFJKF+Calibri", "Times New Roman";
	color: #000000;
}
.stl_28 {
	line-height: 1.220703em;
}
.stl_29 {
	font-size: 1.67em;
	font-family: "CFOIGV+å¾®è½¯é�»";
	color: #000000;
}
.stl_30 {
	letter-spacing: -0.0006em;
}

.ie .stl_30 {
	letter-spacing: -0.0159px;
}
.stl_31 {
	font-size: 1.67em;
	font-family: "ECEOWB+å¾®è½¯é�»", "Times New Roman";
	color: #000000;
}
.stl_32 {
	font-size: 1.67em;
	font-family: "ECEOWB+å¾®è½¯é�»", "Times New Roman";
	color: #FF0000;
}
.stl_33 {
	font-size: 1.67em;
	font-family: "CFOIGV+å¾®è½¯é�»";
	color: #FF0000;
}
.stl_34 {
	letter-spacing: -0.0009em;
}

.ie .stl_34 {
	letter-spacing: -0.0234px;
}
.stl_35 {
	font-size: 1.672em;
	font-family: "CFOIGV+å¾®è½¯é�»";
	color: #000000;
}
.stl_36 {
	letter-spacing: -0.0014em;
}

.ie .stl_36 {
	letter-spacing: -0.0385px;
}
.stl_37 {
	font-size: 1.672em;
	font-family: "ECEOWB+å¾®è½¯é�»", "Times New Roman";
	color: #000000;
}
.stl_38 {
	font-size: 1.672em;
	font-family: "ECEOWB+å¾®è½¯é�»", "Times New Roman";
	color: #FF0000;
}
.stl_39 {
	letter-spacing: -0.0005em;
}

.ie .stl_39 {
	letter-spacing: -0.0142px;
}
.stl_40 {
	letter-spacing: 0.0006em;
}

.ie .stl_40 {
	letter-spacing: 0.0164px;
}
@font-face {
	font-family:"QQJCDU+Arial";
	src:url("73067240-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 1.67em;
	font-family: "QQJCDU+Arial", "Times New Roman";
	color: #000000;
}
.stl_42 {
	line-height: 1.117188em;
}
.stl_43 {
	font-size: 1.672em;
	font-family: "QQJCDU+Arial", "Times New Roman";
	color: #000000;
}
.stl_44 {
	letter-spacing: -0.0011em;
}

.ie .stl_44 {
	letter-spacing: -0.0299px;
}
.stl_45 {
	letter-spacing: -0.0016em;
}

.ie .stl_45 {
	letter-spacing: -0.0429px;
}
.stl_46 {
	letter-spacing: -0.0008em;
}

.ie .stl_46 {
	letter-spacing: -0.0214px;
}
.stl_47 {
	letter-spacing: -0.0023em;
}

.ie .stl_47 {
	letter-spacing: -0.0603px;
}
.stl_48 {
	font-size: 1.17em;
	font-family: "QHREOT+å®ä½", "Times New Roman";
	color: #000000;
}
.stl_49 {
	letter-spacing: -0.0003em;
}

.ie .stl_49 {
	letter-spacing: -0.0107px;
}
.stl_50 {
	font-size: 0.83em;
	font-family: "QHREOT+å®ä½", "Times New Roman";
	color: #000000;
}
.stl_51 {
	letter-spacing: 0.0024em;
}

.ie .stl_51 {
	letter-spacing: 0.032px;
}
@font-face {
	font-family:"LTHLDD+Calibri";
	src:url("9e2a7dc5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_52 {
	font-size: 1.17em;
	font-family: "LTHLDD+Calibri", "Times New Roman";
	color: #000000;
}
.stl_53 {
	font-size: 1.172em;
	font-family: "LTHLDD+Calibri", "Times New Roman";
	color: #000000;
}
.stl_54 {
	letter-spacing: 0.0477em;
}

.ie .stl_54 {
	letter-spacing: 0.8922px;
}
.stl_55 {
	letter-spacing: 0.0481em;
}

.ie .stl_55 {
	letter-spacing: 0.9011px;
}
.stl_56 {
	font-size: 1.172em;
	font-family: "QHREOT+å®ä½", "Times New Roman";
	color: #000000;
}
.stl_57 {
	letter-spacing: -0.0017em;
}

.ie .stl_57 {
	letter-spacing: -0.0321px;
}
.stl_58 {
	font-size: 0.83em;
	font-family: "QHREOT+å®ä½", "Times New Roman";
	color: #FF0000;
}
.stl_59 {
	font-size: 1.17em;
	font-family: "LTHLDD+Calibri", "Times New Roman";
	color: #FF0000;
}
.stl_60 {
	font-size: 1.172em;
	font-family: "LTHLDD+Calibri", "Times New Roman";
	color: #FF0000;
}
.stl_61 {
	font-size: 1.17em;
	font-family: "QHREOT+å®ä½", "Times New Roman";
	color: #FF0000;
}
.stl_62 {
	font-size: 1.172em;
	font-family: "QHREOT+å®ä½", "Times New Roman";
	color: #FF0000;
}
.stl_63 {
	letter-spacing: -0.0015em;
}

.ie .stl_63 {
	letter-spacing: -0.0414px;
}
.stl_64 {
	letter-spacing: 0.0002em;
}

.ie .stl_64 {
	letter-spacing: 0.0047px;
}
.stl_65 {
	letter-spacing: -0.0012em;
}

.ie .stl_65 {
	letter-spacing: -0.0329px;
}
.stl_66 {
	font-size: 1.67em;
	font-family: "QHREOT+å®ä½", "Times New Roman";
	color: #000000;
}
.stl_67 {
	letter-spacing: 0.0012em;
}

.ie .stl_67 {
	letter-spacing: 0.032px;
}
.stl_68 {
	letter-spacing: -0.002em;
}

.ie .stl_68 {
	letter-spacing: -0.0374px;
}
.stl_69 {
	letter-spacing: -0.0018em;
}

.ie .stl_69 {
	letter-spacing: -0.0337px;
}
.stl_70 {
	letter-spacing: -0.004em;
}

.ie .stl_70 {
	letter-spacing: -0.1066px;
}
.stl_71 {
	letter-spacing: -0.0042em;
}

.ie .stl_71 {
	letter-spacing: -0.1121px;
}
.stl_72 {
	letter-spacing: -0.0028em;
}

.ie .stl_72 {
	letter-spacing: -0.0753px;
}
.stl_73 {
	letter-spacing: -0.0021em;
}

.ie .stl_73 {
	letter-spacing: -0.0557px;
}
.stl_74 {
	letter-spacing: -0.0004em;
}

.ie .stl_74 {
	letter-spacing: -0.0114px;
}
.stl_75 {
	letter-spacing: -0.0013em;
}

.ie .stl_75 {
	letter-spacing: -0.0334px;
}
.stl_76 {
	font-size: 1.33em;
	font-family: "QHREOT+å®ä½", "Times New Roman";
	color: #000000;
}
.stl_77 {
	font-size: 1.17em;
	font-family: "JHFJKF+Calibri", "Times New Roman";
	color: #000000;
}
.stl_78 {
	letter-spacing: -0.0022em;
}

.ie .stl_78 {
	letter-spacing: -0.0407px;
}
.stl_79 {
	letter-spacing: -0.0025em;
}

.ie .stl_79 {
	letter-spacing: -0.0461px;
}
.stl_80 {
	font-size: 1em;
	font-family: "QHREOT+å®ä½", "Times New Roman";
	color: #FFFFFF;
}
.stl_81 {
	font-size: 1.002em;
	font-family: "QHREOT+å®ä½", "Times New Roman";
	color: #FFFFFF;
}
.stl_82 {
	font-size: 1em;
	font-family: "JHFJKF+Calibri", "Times New Roman";
	color: #FFFFFF;
}
.stl_83 {
	letter-spacing: -0.0026em;
}

.ie .stl_83 {
	letter-spacing: -0.0416px;
}
.stl_84 {
	font-size: 1.5em;
	font-family: "JHFJKF+Calibri", "Times New Roman";
	color: #000000;
}
.stl_85 {
	letter-spacing: 0.0028em;
}

.ie .stl_85 {
	letter-spacing: 0.0453px;
}
.stl_86 {
	letter-spacing: 0.002em;
}

.ie .stl_86 {
	letter-spacing: 0.032px;
}
.stl_87 {
	letter-spacing: -0.0001em;
}

.ie .stl_87 {
	letter-spacing: -0.0026px;
}
.stl_88 {
	letter-spacing: 0.0009em;
}

.ie .stl_88 {
	letter-spacing: 0.0138px;
}
.stl_89 {
	font-size: 0.83em;
	font-family: "JHFJKF+Calibri", "Times New Roman";
	color: #000000;
}
.stl_90 {
	font-size: 1.672em;
	font-family: "QQJCDU+Arial", "Times New Roman";
	color: #FF0000;
}
